@import "../../main";

.main{
  position: relative;
  margin: 10px;
  width: 320px;
  height: 300px;
  padding: 10px 10px 25px 10px;
  background: whitesmoke;
  border-radius: 8px;
  transition: transform .5s;

  img{
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  .photoSize{
    position: absolute;
    color: gray;
    right: 15px;
    font-size: 1.1rem;
  }
  &:hover{
    transform: scale(1.1);
    box-shadow: 6px 6px 8px gray;
    transition: transform .5s;
  }
}

@media (max-width: 500px) {
  .main{
    width: 290px;
  }
}